* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 10px;
    background-color: green;
    margin-bottom: 50px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

main {
    width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn {
    padding: 10px 30px;
    border-radius: 0px;
    cursor: pointer;
}

.btn-white,
select {
    background-color: #fff;
    color: green;
    border: none;
    font-size: 20px;
    font-weight: 600;
    transition: background-color 0.5s;
    margin: 10px;
}

.btn-white:hover {
    background-color: green;
    color: #fff;
}

#start {
    border: none;
    color: green;
    background-color: #fff;
    padding: 10px 30px;
}

#grid {
    width: 900px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 10);
    height: calc(100% / 10);
    background-color: green;
    border: 1px solid #fff;
    color: #fff;
    font-size: 20px;
}

.clicked-sky {
    background-color: lightskyblue;
}

.clicked-bomb {
    background-color: red;
}